
/*===========FORM===========*/

div.sign-wrapper {
  width: 500px;
  margin: 150px auto;
}

.error-message {
  color: red;
  display: block;
}

/*===========DROPDOWN=======*/

div.temp, ul#main {
  background: #77bf67;
  width: 200px;
  border-radius: 3px;
  min-height: 30px;
}

li.main-ex {
  font-weight: bold;
}

li, div.temp {
  font-size: 18px;
  padding: 2px 8px;
  list-style: none;
}

ul#main, ul.sub {
  display: none;
  padding-left: 0;
}

li:hover, div.temp:hover {
  background: #318e42;
  color: #fff;
  cursor: pointer;
}


/*===========PHOTO TAGGING=======*/

img {
  width: 500px;
}

div.tag-box {
  border: 2px solid #fff;
  border-radius: 3px;
  width: 60px;
  height: 60px;
  position: absolute;
}


div.tag-box-dropdown {
  background-color: #fff;
  width: 64px;
  min-height: 20px;
  top: 64px;
  position: absolute;
}

/*div.choosen {
  background-color: #fff;
  width: 64px;
  top: 64px;
  position: absolute;
}*/

ul#tagging li {
  font-size: 12px;
}

ul#tagging {
  text-align: left;
  list-style: none;
  padding-left: 0;
}

li:hover {
  background: #ccc;
  color: #111;
}
