/*JQuery classes*/
.error{
  background-color: red;
  padding: 10px;
}

.error-text{ background-color: red;}

.error-subtle{
  background-color: red;
  padding: 6px;
  opacity: 0.3;
}

.success{
  background-color: green;
  padding: 10px;
  opacity: 0.7;
}

.popout{
  padding:10px;
}

.flex-outer{
  padding: 0px;
  .pass-conf{
    margin-top: 0px;
  }
  
  li{
    display: flex;
    justify-content: center;
  }
  
  input, textarea, button{
    height: 26px;
    width: 250px;
    margin: 7px 0;
  }
  
  textarea, .submit{
    height: 52px;
  }
}