form {
	background-color: #eee;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 20px;
	width: 500px;
}

.info-display {
	opacity: 0;
}

.show-display {
	opacity: 100;
}

.failure {
	color: red;
}

.success {
	color: green;
}