.toggle-dropdown {
  margin-left: 40px;
}


.dropdown li {
  border: 1px solid;
  height: 17px;
  max-width: 50px;
  display: block;
}

#photo-container {
  position: relative;
}

#tag-container {
  border: 2px solid red;
  display: none;
  position: absolute;
}