/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS Reset End */

.displayed {
	display: block !important;
}

/* Hacked Dropbox CSS Start*/
ul {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    margin-top: 1em;
    box-sizing: border-box;
}

ul.collapsed-view {
    height: 1em !important;
}

ul:hover {
    cursor: pointer;
}


li {
    height: 1em;
    width: 100%;
}

li.displayed, li.selected {
    display: block !important;
    position: absolute;
}

li.collapsed {
    top: 0em !important;
}

li.displayed:hover {
    background-color: orange;
}

li.displayed#default-value:hover {
	cursor:default;
	background-color:white;
}

/* Hacked Dropbox CSS End*/

/* Form Validation CSS Start */

.feedback {
	display: none; /*Set to initially not display*/
}

/* Form Validation CSS End */

/* Photo Tagger CSS Start */

option:hover {
	background-color:red;
}

.tagger {
	background-color: green;
	position: absolute;
}

.tag-frame {
	height: 50px;
	width: 50px;
	background-color:blue;
	
}

#photo-tagger {
	display: inline-block;
}



/* Photo Tagger CSS End */

