.toggle-dropdown {
  margin-left: 40px;
}


.dropdown li {
  border: 1px solid;
  height: 17px;
  max-width: 50px;
  display: block;
}

#photo-container {
  width: 584px;
  height: 329px;
  background-image: url("happy-people.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

#tag-container {
  border: 2px solid red;
  position: absolute;
  overflow: hidden;
  display: none;  
}