#target {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 2px solid green;
  display: none;
}

#puppy-box {
  width: 533px;
  height: 300px;
  background-image: url('puppies.jpg');
}

ul {
  top: 100px;
  position: relative;
  list-style-type: none;
  background-color: white;
  display: none;
}

li {
  position: relative;
  left: -40px;
}

li:hover {
  background-color: grey;
}
