li {
  cursor: pointer;
}

.box {
  pointer-events: none;
}

.box, .temp-box, .fixed-box {
  border: 3px solid blue;
  position: absolute;
  width: 60px;
  height: 60px;
}

.options {
  color: black;
  font-weight: bold;
  position: absolute;
  list-style-type: none;
}

.selected {
  position: absolute;
  color: black;
  font-weight: bold;
}
