p {
  display: inline-block;
}

.red {
  border: solid 1px red;
}

.color {
  background-color: pink;
}

.tag {
  border: solid 2px red;
  position: absolute;
  height: 75px;
  width: 75px;
}

#image-holder {
  position: relative;
}

.dropdown {
  
  
}
