* {
  box-sizing: border-box;
}

body * {
  font-family: Arial;
  padding: 0;
  margin: 0;
}

input, textarea {
  display: block;
  margin-top: 10px;
}

.margin-top {
  margin-top: 50px;
}

/* Form validation */

.caption {
  color: gray;
  font-size: 12px;
  margin-top: 4px;
}

.error {
  border: 2px solid red;
}

/* Dropdown */

.dropdown {
  position: relative;
  padding: 20px 20px;
  width: 200px;
  color: white;
  background-color: #666;
  border-bottom: 5px solid black;
}

.dropdown ul {
  position: relative;
  bottom: -20px;
  left: -20px;
  width: 200px;
  list-style: none;
  color: white;
  background-color: #666;
}

.dropdown li {
  padding: 20px 20px;
}

.active {
  color: black;
  background-color: #ccc;
}

/* Photo Tagging */

.photo-container {
  width: 650px;
  position: relative;
  overflow: hidden;
}

.photo-container img {
  width: 100%;
}

.tag-hover {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid white;
}

.tag-fixed {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid #333;
}

.tag-saved {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid black;
}

.name-list {
  color: white;
  position: absolute;
  top: 95px;
  left: -5px;
  width: 100px;
  background-color: #333;
  list-style: none;
  padding: 0 0;
}

.name-list li {
  padding: 2px 5px;
}

.name-list li:hover {
  color: white;
  background: black;
}

.tagged-name {
  color: white;
  position: absolute;
  left: -5px;
  top: 95px;
  width: 100px;
  padding: 2px 5px;
  background: black;
}
