.notify-red {
	color: red;
}

.dropdown {
	display: flex;
	flex-direction: column;
	
	width: 250px;
	cursor: pointer;
	
	.select-line {
		display: flex;
		flex-flow: row nowrap;
		border-style: solid;
		border-width: 1px;

		#select-line-text {
			flex-basis: 90%;
		}
	}

	.select-list {
		display: flex;
		flex-flow: column nowrap;
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		:hover {
			background: yellow;
		}

		li {
			border-style: solid;
			border-width: 1px;
		}
	}
}