
.form-group {
  & label{
    display: block;
  }
  padding: 10px;
}

.warning-input {
  background-color: red;
}

.warning-label {
  color: red;
}

.dropdown {
  li {
    border: 1px solid black;
    list-style-type: none;
    display: flex;
  }
  li:hover {
    background-color: #cdf;
    cursor: pointer;
  }
  li:active {
    background-color: #9ac;
  }
  li:first-child {
    justify-content: flex-end;
  }
  li.selected {
    justify-content: space-between;
  }
  max-width: 100px;
} 
