
/*CSS RESET*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, input, th, td
{
margin: 0; padding: 0; border: 0; outline: none;
}

h1, h2, h3, h4, h5, h6
{
font-size: 100%;
}

body
{
line-height: 1;
font-size: 88%;
}

h1, h2, h3, h4, h5, h6
{
font-size: 100%;
padding: .6em 0;
margin: 0 15px;
}

ul, ol
{
list-style: none;
}

img
{
border: 0;
}


/*END OF RESET*/

/*FORM STYLES*/

.form
{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	background-color: lightblue;
	margin-top: 200px;

}

.form input, .form textarea, .form label {
	padding: 10px;
	margin: 15px;
}

.form label {

}

.textcounter{
	background-color: pink;
	margin-left: auto;
	margin-right: auto;
}

#submit {
	width: 50px;
	height: 50px;
	background-color: pink;
	margin: 10px;
}

.redBox {
	background-color: red;
}
