.red-border{
	border: 1px solid red;
}

ul.dropdown-menu {
   display: none;
}

#box {
  border: 1px solid black;
  padding: 10px;
  min-height: 10px;
  min-width: 100px;
  max-width: 100px;
}

#mainphoto{
  background-image: url("./images/lotr.jpg");
  background-repeat: no-repeat;
  min-height: 800px;
  min-width: 620px;
}
#bob {
    height: 75px;
    width: 75px;
    border: 4px solid #90EE90;
     position: absolute
}