.inputContainer {
  color: red;
}

.err {
  color: red;
}

.items {
  display: none;
  list-style-type: none;
  border: 1px solid black;
  height: 20px;
  width: 50px;
}

#menu {
  border: 1px solid black;
  height: 20px;
  width: 50px;
}

.targetOutline {
  outline: 5px solid #c00;
  height: 150px;
  width: 100px;
  visibility: hidden;
}
.clickedOutline {
  outline: 5px solid #c00;
  height: 150px;
  width: 100px;
  visibility: visible;;
}
/*#pensNames {
  position: relative;
  zoom: 1;
}*/
.names {
  display: none;
  list-style-type: none;
  border: 1px solid black;
  height: 20px;
  width: 100px;
}



/*.target_selected {
  outline: 3px solid #0c0;
  height: 100px;
  width: 75px;
}*/
