.image-container{
	margin: 60px;
	background-color: orange;
	height: 400px;
	width: 800px;
}

.image-container img{
	height: 100%;
	width: 100%;
}

.target{
	height: 100px;
	width: 100px;
	position: absolute;
	display: none;
}

.target-square{
	width: 100%;
	height: 100px;
	border: 3px solid green;
}

.target-element{
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	font-weight: bold;
}

.elements{
	background-color: gray;
	height: 100px;
	width: 100%;
	display: none;
	border-bottom: 3px solid red;
	border-left: 3px solid red;
	border-right: 3px solid red;
}

.elements a{
	display: block;
	text-decoration: none;
}