
* {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  padding-bottom: 20px;
}

div {
  width: 75px;
  border: 2px solid black;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.yellow-background {
  background-color: yellow;
}
