
@mixin box {
  margin: 15px;
  width: 250px;
}

.container{
  width: 600px;
  margin-left: 10%;

  div {
    @include box;
    display: inline-block;
    height: 250px;
  }

  div:hover {
    cursor: pointer;
  }

  button {
    @include box;
    height: 100px;
  }

  @each $color, $number in (green, "one"),
                           (red, "two"),
                           (blue, "three"),
                           (yellow, "four") {
    ##{$number} {
      background-color: $color;
    }
    ##{$number}.hover {
      background-color: darken($color, 10%);
    }
    ##{$number}:active {
      background-color: darken($color, 20%);
    }
  }
}

h1 {
  text-align: center;
}
