.gameboard {
	width: 900px;
	height:500px;
}

.red {
	height: 200px;
	width: 450px;
	background-color: red;
	float: right;
	
	
}

.green {

height: 200px;
	width: 450px;
	background-color: green;
	float: left;
	

}

.blue {
	height: 200px;
	background-color: blue;
	width: 450px;
	float: right;

	
}

.yellow {
	height: 200px;
	background-color: yellow;
	width: 450px;
	float: left;
	
	
}

.highlighted {
	background-color: white;

}