@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');

body {
  text-align: center;
  font-family: 'Pinyon Script', cursive;
  font-size: 50px;
  box-sizing: border-box;
}

ul {
  display: none;
  width: 400px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid silver;
  border-top: 0px;
}

li {
  cursor: pointer;
  list-style: none;
  background: lightyellow;
}

li:hover {
  background: lightblue;
}

#dropdown-box {
  height: 1em;
  padding: 0.25em;
  width: 400px;
  border: 5px groove gold;
  background: wheat;
  cursor: pointer;
  margin: 0 auto;
}
#dropdown-box span {
  display: none;
}

#first {
  display: none;
}

#second {
}
