/* Dropdown Menu */
.dropdown {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  width: 50%;
}

li {
  padding: 3px 5px;
  text-align: right;
}

li:first-of-type {
  padding: 3px 0;
}

li:hover {
  background-color: #B9CFF6;
  cursor: pointer;
}

.arrow {
  margin-left: 5px;
}

.hidden {
  display: none;
}

.show-menu {
  display: block;
}

