@import "reset";
@import "form-validation";
@import "dropdown-menu";

/* Layout */
.container {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
}

section {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  width: 70%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Photo Tagging Box */
.img-box {
  img {
    height: auto;
    width: 100%;
  }

  .hover-box {
    border: 3px solid #66FF66;
    height: 100px;
    width: 100px;
    position: absolute;
    pointer-events: none;
  }

  .tag-box {
    border: 3px solid red;
    height: 100px;
    width: 100px;
    position: absolute;
    pointer-events: none;
  }

  position: relative;
}

