@import "reset";
@import "form-validation";
@import "dropdown-menu";

/* Layout */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
}

section {
  margin: 0 auto;
  width: 33%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}


