/*
  Photo Tagging
*/

main {
  margin-bottom: 128px;
}
.image-container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}
.image-container * {
  padding: 0;
  margin: 0;
  border: none;
}
.image-container img {
  width: 100%;
}
.tag {
  position: absolute;
  min-width: 128px;
  min-height: 128px;
  border-style: solid;
  border-color: #86F66C;
}
#tagger {
  pointer-events: none;
  display: none;
  border-color: #7CC2F9;
}
#tagger.locked {
  border-color: #F6778A;
}
#tagger .menu {
  display: none;
}
.tag p,
#tagger .menu {
  pointer-events: auto;
  position: absolute;
  top: 128px;
  left: -8px;
  background: #fff;
  width: 128px;
  list-style: none;
  padding: 0;
  margin: 0;
  border-style: solid;
}
.tag p,
#tagger.locked .menu{
  display: block;
  border: inherit;
}
.tag p,
#tagger .menu a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  text-align: center;
}
#tagger .menu a:hover {
  background: #ccc;
}




