/* jQuery Selectors */
.validation {

}

.warn-shadow {
  box-shadow: 1px 1px 3px 3px #ce0808,
}

.success-shadow {
  box-shadow: 1px 1px 3px 3px #31ce41,
}
/*
.hidden {
  height: 0px
}

.show {
  height: auto
}
