#tagger {
  width: 100px;
  height: 100px;
  border: 1px solid darkred;
  position: absolute;
}

.fixed {
  display: none;
}

.dropdown {
  width: 100px;
  height: auto;
  border: 5px solid green;
  position: absolute;
}

ul {
  margin: 0px;
  list-style: none;
}
.top-drop {
  height: 100px;
}

.bottom-drop {
  background-color: white;
  border-top: 5px solid green;
}

.blue-background {
  background-color: blue;
}

.perma-drop {
  width: 100px;
  height: auto;
  border: 5px solid blue;
  position: absolute;
}

.white-text {
  color: white;
}

.close-btn {
  position: relative;
  top: -20px;
}