
body, html {
  height: 100%;
  margin: 0;
}

#pic {
  background-image: url("bg.jpg");
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/*
to be deleted

.hide {
  display: none;
}

.list {
  position: absolute;
  border: 6px solid green;
  background-color: white;
  margin-top: 50px;
}

.tagger {
  position: absolute;
  border: 8px solid green;
  height: 50px;
  width: 50px;
}

#target {
  position: absolute;
  border: 8px dashed blue;
  height: 50px;
  width: 50px;
}

*/
